@charset "UTF-8";

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "SoulMaze";
    src: url(../fonts/MADE\ Soulmaze\ Italic\ PERSONAL\ USE.otf);
}
@font-face {
    font-family: "SoulMazeOutline";
    src: url(../fonts/MADE\ Soulmaze\ Outline\ Italic\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: "Space-Grotesk";
    src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

:root {
    --green: #32BA7C;
    --green2: #1c6947;
    --black: #111411;
    --black2: #1a1b1a;
    --white: #f5f5f5;
    --white2: #dbdbdb;
    --white3: #b3b3b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle, #32ba7c, #31af76, #30a570, #2f9a6a, #2e9064, #2e885f, #2e805b, #2e7856, #2f7052, #2f674e, #2f5f49, #2f5745);
    font-family: "Poppins";
}

#titulo-login {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    font-family: "SoulMaze";
}

#titulo-login h1 {
    font-size: 3em;
}

#titulo-login span {
    color: var(--white);
    font-family: "SoulMazeOutline";
}

.wrapper {
    position: relative;
    overflow: hidden;
    max-width: 390px;
    min-height: 520px;
    background: var(--white);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.397);
    margin: auto;
}

.wrapper .title-text {
    display: flex;
    width: 200%;
    font-family: "Space-Grotesk";
}

.wrapper .title  {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid var(--white3);
    border-radius: 5px;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controls label.signup {
    color: #000;
}

.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background-color: var(--green);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

input[type="radio"] {
    display: none;
}

#signup:checked ~ .slider-tab {
    left: 50%;
}

#signup:checked ~ label.signup {
    color: var(--white);
    cursor: default;
    user-select: none;
}

#signup:checked ~ label.login {
    color: #000;
}

#login:checked ~ label.signup {
    color: #000;
}

#login:checked ~ label.login {
    cursor: default;
    user-select: none;
}

.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner {
    display: flex;
    width: 200%;
}

.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    background-color: var(--green);
}

.form-inner form .field:hover {
    background-color: var(--green2);
}

.form-inner form .pass-link {
    margin-top: 5px;
}

.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}


.form-inner form .signup-link a {
    color: var(--green);
    text-decoration: none;
}


.form-inner form .signup-link a:hover {
    text-decoration: underline;
}

form .btn {
    height: 50px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    font-family: "Space-Grotesk";
}

form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


.form-inner form .pass-link {
    margin-top: 5px;
    color: rgb(151, 1, 1);
}


.form-inner form .success {
    margin-top: 5px;
    color: rgb(28, 119, 28);
}
