@charset "UTF-8";

/* Medium devices */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    header {
        justify-content: space-between;
    }

    #titulo {
        font-size: 1.6em;
    }

    #configuracoes, #navbar {
        width: 55px;
        height: 55px;
        margin: 0 30px;
    }

    #container {
        display: flex;
        height: 100%;
    }

    #sidebar {
        width: 250px;
        left: 0;
        z-index: 1;
    }

    #projetos > ul > li {
        font-size: 1.3em;
        padding: 12px;
    }

    main {
        margin-left: 270px;
        width: calc(100% - 250px);
        height: 85vh;
    }
}

/* Large devices */
@media only screen and (min-width: 1280px) {
    header {
        justify-content: space-between;
    }
    
    #titulo {
        font-size: 2em;
    }

    #configuracoes, #navbar {
        width: 60px;
        height: 60px;
        margin: 0 30px;
    }

    #container {
        display: flex;
        height: 100%;
    }

    #sidebar {
        width: 400px;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #projetos > ul > li {
        font-size: 1.5em;
        padding: 12px;
    }

    main {
        margin-left: 420px;
        width: calc(100% - 400px);
        height: 85vh;
    }
}